# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Docker
.dockerignore

# IDE
.idea/
.vscode/

# Ignore common operating system files
.DS_Store

# Test
.coverage

# Git
.gitignore

#Data
raw_images/

#Checkpoint
etl_checkpoint.txt